## Documentation: http://docs.travis-ci.com/user/languages/julia/
codecov: true
language: julia
os:
  - linux
  - osx
julia:
  - 1.4
  - nightly
notifications:
  email: false
matrix:
  allow_failures:
    - julia: nightly
  fast_finish: true